.content {
  background: var(--primary-background);
  color: var(--primary-font);
}

@media screen and (min-width: 1296px) {
  .content {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 90%;
  }
}