.cards-container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 3rem;
  min-height: calc(100vh - 20rem);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40rem);
}

.cards-section {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  margin-bottom: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
  margin: 0;
  color: #47596b;
  font-family: monospace;
  border-radius: .5em;
  box-shadow: 0 1px 3px rgba(0,0,0,.08);
  transition: all ease-in-out .2s;
  cursor: pointer;
  min-height: 15rem;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
  }

  &__title {
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &__location,
  &__type {
  color: lighten(#62748B, 20%);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 3rem;
      max-width: 9rem;
    }
  }

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }
}


.card
.card__company {
  font-weight: 800;
}

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8);
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
