.footer {
  display: none;
  margin-top: 21rem;
  background: var(--primary-light-background);
}

@media screen and (min-width: 1296px) {
  .footer {
    display: block;

    &__nav {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      list-style-type: none;
      padding: 2rem;

      &--item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        padding: 2rem 0;
        text-align: center;
        width: 11rem;
        height: 7rem;
        border-radius: var(--border-raidus);
        color: var(--primary-font);

        & a {
          text-decoration: none;
        }

        & .far {
          font-size: 2rem;
        }
      }
    }
  }
}


@media screen and (min-width: 1500px) {
  .footer {
    display: block;

    &__nav {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2rem;

      &--item {
        width: 13rem;
        height: 9rem;
        margin-bottom: 3rem;
      }
    }
  }
}

.active {
  font-weight: 800;
  color: var(--primary-background);
  background-color: var(--primary-dark-background);
  border-radius: var(--border-radius);
  background-image: linear-gradient(to right bottom, var(--primary-dark-background) 0%, #7EB6E2 100%);
}
