.header {
  background: var(--primary-dark-background);
  height: 20rem;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__heading {
    display: none;
  }

  &__image {
    height: 5rem;
    border-radius: 50%;
    border: 2px solid var(--primary-light-background);
  }
}

@media screen and (min-width: 1296px) {
  .header {
    height: 35rem;
  }

  .user-info {
    position: absolute;
    top: 13rem;
    flex-direction: column;
    width: 18%;

    &__heading {
      font-weight: 100;
      font-size: 2.9rem;
      color: var(--primary-background);
      margin: 2rem 0;
      display: block;
    }
  }
}