.home {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo-section logo-section logo-section logo-section" "logo-section logo-section logo-section logo-section";
  position: relative;


  &__menu--icon {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    left: 2rem;
  }
}

.logo-section {
  grid-area: logo-section;
  background: var(--primary-dark-background);
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 4rem;

  & img {
    color: var(--primary-font);
  }

  & h1 {
    color: var(--primary-light-background);
    font-weight: 100;
    text-transform: uppercase;
  }
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-dark-background);
}

.logo {
  height: 100vh;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section";
  }

  .logo-section, {
    grid-area: logo-section;
  }

  .login-section {
    grid-area: login-section;
  }

  .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

// MENU bars and Animation
.wrapper-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
