.home {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo-section logo-section logo-section logo-section" "logo-section logo-section logo-section logo-section";
  position: relative;

  &__menu--icon {
    height: 8rem;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
  }
}

.logo-section {
  grid-area: logo-section;
  background: var(--primary-dark-background);
  height: 100vh;
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-dark-background);
}

@media screen and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section";
  }

  .logo-section, {
    grid-area: logo-section;

  }

  .login-section {
    grid-area: login-section;
  }

  .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}