.home {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo-section logo-section logo-section logo-section" "logo-section logo-section logo-section logo-section";
  position: relative;


  &__menu--icon {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    left: 2rem;
  }
}

.logo-section {
  grid-area: logo-section;
  background: var(--primary-dark-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo {
  border: 6px solid var(--primary-light-background);
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  color: var(--primary-light-background);

  &__forward,
  &__backward {
    font-size: 10rem;
  }

  &__forward {
    margin-right: .5rem;
  }

  &__backward {
  transform: scale(-1, 1);
  }

  &__title  {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--primary-background);

    &-thin {
      font-weight: 100;
      color: var(--primary-light-background);
    }
  }
}

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
background: var(--primary-dark-background);
}

// MENU bars and Animation
.wrapper-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}


@media screen and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section";
  }

  .logo-section, {
    grid-area: logo-section;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-section {
    grid-area: login-section;
  }

  .wrapper-menu {
    width: 40px;
    height: 40px;
  }
}
