.job-detail {
  h1,h2,h3,h4,h5,h6 {
    color: var(--primary-font);
    font-size: 2.5rem;
  }

  &__header {
    background: var(--primary-dark-background);
    height: 15rem;
  }

  &__image {
    max-height: 5rem;
  }

  &--buttons {
    margin: 2rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    & a {
      color: var(--primary-font);
      padding: 1rem 2rem;
      transition: all .2s ease-in;

      &:hover {
        background: #eef2f6;
      }
    }
  }
}

.job-detail-container {
  margin: 0 auto;
  max-width: 980px;
  background: var(--primary-background);
  padding: 2rem 3rem;
  position: relative;
  bottom: 5rem;
  border-top-left-radius: var(--border-radius);

  * {
    margin-bottom: 2rem;
  }

  p {
    line-height: 1.6;
  }
}

@media screen and (min-width: 830px) {
  .job-detail--buttons {
    flex-direction: row;
  }
}