.job-detail {

  h1,h2,h3,h4,h5,h6 {
    color: var(--primary-font);
    font-size: 2.5rem;
  }

  &--buttons {
    margin-bottom: 2rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding: 0 2rem;

    & h1 {
      color: var(--primary-light-background);
      font-size: 2rem;
    }
  }

  &__image {
    max-height: 4rem;
    max-width: 20rem;
  }

  &__save-job {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease;
    min-height: 8rem;

    &--button {
      border: 1px solid var(--primary-dark-background);
      padding: 1rem;
      background: var(--primary-dark-background);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      border-radius: var(--border-radius);
      color: var(--primary-background);
      cursor: pointer;
      transition: all .1s;
    }
  }

  .loading {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border-color: #bbbbbb;
    border-width: 3px;
    box-shadow: 0 0;
    font-size: 0;
    background: var(--primary-background);
    border-left-color: var(--primary-dark-background);
    animation: rotating .7s linear infinite;
    margin-bottom: 2rem;
  }

  @keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .success {
    border: 1px solid #00b894;
    background: #00b894
  }

  &--buttons {
    margin: 2rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    & a {
      color: var(--primary-font);
      padding: 1rem 2rem;
      transition: all .2s ease-in;

      &:hover {
        background: #eef2f6;
      }
    }
  }

  &-container {
    margin: 0 auto;
    max-width: 980px;
    background: var(--primary-background);
    padding: 2rem 3rem;
    position: relative;
    border-top-left-radius: var(--border-radius);

    * {
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.6;
    }
  }
}

@media screen and (min-width: 830px) {
  .job-detail {

    &__header {
      height: 17rem;
    }

    &-container {
      position: relative;
      bottom: 10rem;
    }

    &--buttons {
      flex-direction: row;
      position: relative;
      margin: 5rem;
    }

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}