.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.search__input {
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 1.5rem 3rem rgba(50, 50, 93, 0.1), 0 0.5rem 1.5rem rgba(0, 0, 0, 0.07);
  display: block;
  font-size: 1.3rem;
  max-width: 100%;
  padding: 2rem;
  width: 25rem;
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
}

@media screen and (min-width: 600px) {
  .search__input {
    width: 45rem;
  }
}

@media screen and (min-width: 800px) {
  .search__input {
    width: 50rem;
  }
}

@media screen and (min-width: 1296px) {
  .search__input {
    width: 60rem;
  }
}