.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google {
  background: red;
}

.twitter {
  background: salmon;
}

.facebook {
  background: green;
}

.github {
  background: orange;
}