.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-background);
  border-radius: 3px;
  padding: 3rem 4rem;
}

.auth-button {
  color: var(--primary-light-background);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  font-size: 1.9rem;
}

.google {
  background: #e74c3c;
}

.twitter {
  background: #69ABE9;
;
}

.facebook {
  background: #3742fa;
}

.github {
  background: #34495e;
}

@media screen and (min-width: 1024px) {
  .sign-in {
    padding: 7rem 6rem;
  }
}