:root {
  --primary-font: #424949;
  --primary-dark-background: #1e90ff;
  --primary-background: #F8F8FB;
  --primary-light-background: #EAECEE;
  --border-radius: 2px; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background: var(--primary-light-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem; }

button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }

button:disabled {
  cursor: default; }

a {
  text-decoration: none; }

.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8rem 1fr 6rem;
  height: 100%; }

.header {
  grid-area: header; }

.content {
  grid-area: content;
  height: 100%;
  overflow-y: scroll; }

.footer {
  grid-area: footer; }

@media screen and (min-width: 1296px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header header header header" "footer content content content content";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 14rem 1fr;
    height: 100%; }
  .header {
    grid-area: header; }
  .content {
    grid-area: content;
    height: calc(100vh - 8rem); }
  .footer {
    grid-area: footer; } }

.home {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "logo-section logo-section logo-section logo-section" "logo-section logo-section logo-section logo-section";
  position: relative; }
  .home__menu--icon {
    position: absolute;
    cursor: pointer;
    top: 2rem;
    left: 2rem; }

.logo-section {
  grid-area: logo-section;
  background: var(--primary-dark-background);
  height: 100vh; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 4rem; }
  .logo img {
    color: var(--primary-font); }
  .logo h1 {
    color: var(--primary-light-background);
    font-weight: 100;
    text-transform: uppercase; }

.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-dark-background); }

.logo {
  height: 100vh;
  margin: 0 auto; }

@media screen and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section" "logo-section logo-section login-section login-section"; }
  .logo-section {
    grid-area: logo-section; }
  .login-section {
    grid-area: login-section; }
  .logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; } }

.wrapper-menu {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out; }

.wrapper-menu.open {
  transform: rotate(-45deg); }

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 4px; }

.line-menu.half {
  width: 50%; }

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right; }

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px); }

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left; }

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px); }

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-background);
  border-radius: 3px;
  padding: 3rem 4rem; }

.auth-button {
  color: var(--primary-light-background);
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  border-radius: var(--border-radius);
  font-size: 1.9rem; }

.auth-button:not(:last-of-type) {
  margin-bottom: 2rem; }

.google {
  background: #e74c3c; }

.twitter {
  background: #69ABE9; }

.facebook {
  background: #3742fa; }

.github {
  background: #34495e; }

@media screen and (min-width: 1024px) {
  .sign-in {
    padding: 4rem 4rem; } }

.cards-container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 3rem;
  min-height: calc(100vh - 20rem); }

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40rem); }

.cards-section {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  margin-bottom: 3rem; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background: #fff;
  margin: 0;
  color: #47596b;
  font-family: monospace;
  border-radius: .5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all ease-in-out .2s;
  cursor: pointer;
  min-height: 15rem;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  animation-iteration-count: 1; }
  .card__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center; }
  .card__title {
    margin-bottom: 1rem;
    font-weight: 400; }
  .card__location, .card__type {
    color: #9ba8b8; }
  .card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .card__footer img {
      height: 3rem;
      max-width: 9rem; }
  .card:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }

.card
.card__company {
  font-weight: 800; }

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.8); }
  50% {
    opacity: .5; }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1); } }

.content {
  background: var(--primary-background);
  color: var(--primary-font); }

@media screen and (min-width: 1296px) {
  .content {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    width: 90%; } }

.header {
  background: var(--primary-dark-background);
  height: 20rem; }

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .user-info__heading {
    display: none; }
  .user-info__image {
    height: 5rem;
    border-radius: 50%;
    border: 2px solid var(--primary-light-background); }

@media screen and (min-width: 1296px) {
  .header {
    height: 35rem; }
  .user-info {
    position: absolute;
    top: 13rem;
    flex-direction: column;
    width: 18%; }
    .user-info__heading {
      font-weight: 100;
      font-size: 2.9rem;
      color: var(--primary-background);
      margin: 2rem 0;
      display: block; } }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0; }

.search__input {
  border: 0;
  box-shadow: 0 1.5rem 3rem rgba(50, 50, 93, 0.1), 0 0.5rem 1.5rem rgba(0, 0, 0, 0.07);
  display: block;
  font-size: 1.3rem;
  max-width: 100%;
  padding: 2rem;
  width: 25rem;
  border-radius: 4px; }
  .search__input input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset; }

@media screen and (min-width: 600px) {
  .search__input {
    width: 45rem; } }

@media screen and (min-width: 800px) {
  .search__input {
    width: 50rem; } }

@media screen and (min-width: 1296px) {
  .search__input {
    width: 60rem; } }

.footer__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 2rem; }
  .footer__nav--item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    width: 13rem;
    height: 9rem;
    border-radius: var(--border-raidus);
    margin-bottom: 3rem;
    color: var(--primary-font); }
    .footer__nav--item a {
      text-decoration: none; }
    .footer__nav--item .far {
      font-size: 2rem; }

.active {
  font-weight: 800;
  color: var(--primary-background);
  background-color: var(--primary-dark-background);
  border-radius: var(--border-radius); }

@media screen and (min-width: 1296px) {
  .footer {
    margin-top: calc(100vh - 66rem); } }

.job-detail h1, .job-detail h2, .job-detail h3, .job-detail h4, .job-detail h5, .job-detail h6 {
  color: var(--primary-font);
  font-size: 2.5rem; }

.job-detail__header {
  background: var(--primary-dark-background);
  height: 15rem; }

.job-detail__image {
  max-height: 5rem; }

.job-detail--buttons {
  margin: 2rem 0;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }
  .job-detail--buttons a {
    color: var(--primary-font);
    padding: 1rem 2rem;
    transition: all .2s ease-in; }
    .job-detail--buttons a:hover {
      background: #eef2f6; }

.job-detail-container {
  margin: 0 auto;
  max-width: 980px;
  background: var(--primary-background);
  padding: 2rem 3rem;
  position: relative;
  bottom: 5rem;
  border-top-left-radius: var(--border-radius); }
  .job-detail-container * {
    margin-bottom: 2rem; }
  .job-detail-container p {
    line-height: 1.6; }

@media screen and (min-width: 830px) {
  .job-detail--buttons {
    flex-direction: row; } }


/*# sourceMappingURL=main.a8ec8bc101051a489871.css.map*/