.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8rem 1fr 6rem;
  height: 100%;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  height: 100%;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 1296px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header header header header" "footer content content content content";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr;
    height: 100%;
  }
  .header {
    grid-area: header;
  }
  .content {
    grid-area: content;
    height: calc(100vh - 8rem);
  }
  .footer {
    grid-area: footer;
  }
}