.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "content content content content" "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10rem 1fr 6rem;
  height: 100%;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  height: 100%;
  overflow-y: scroll;
}

.footer {
  grid-area: footer;
}

.logo-section,
.login-section,
.job-detail__header,
.header {
  background-color: var(--primary-dark-background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.75'%3E%3Crect fill='%233d79d9' width='11' height='11'/%3E%3Crect fill='%233c7bda' x='10' width='11' height='11'/%3E%3Crect fill='%233a7ddb' y='10' width='11' height='11'/%3E%3Crect fill='%23397fdc' x='20' width='11' height='11'/%3E%3Crect fill='%233881dd' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%233783dd' y='20' width='11' height='11'/%3E%3Crect fill='%233685de' x='30' width='11' height='11'/%3E%3Crect fill='%233687df' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%233589df' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23358be0' y='30' width='11' height='11'/%3E%3Crect fill='%23358de1' x='40' width='11' height='11'/%3E%3Crect fill='%23358fe1' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%233591e2' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%233693e2' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%233795e3' y='40' width='11' height='11'/%3E%3Crect fill='%233797e3' x='50' width='11' height='11'/%3E%3Crect fill='%233999e4' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%233a9ae4' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%233b9ce5' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%233d9ee5' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%233ea0e5' y='50' width='11' height='11'/%3E%3Crect fill='%2340a2e6' x='60' width='11' height='11'/%3E%3Crect fill='%2342a4e6' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2344a5e6' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2346a7e6' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2348a9e7' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%234aabe7' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%234dace7' x='70' width='11' height='11'/%3E%3Crect fill='%234faee7' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2352b0e8' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2354b2e8' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2357b3e8' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%235ab5e8' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%235cb7e8' x='80' width='11' height='11'/%3E%3Crect fill='%235fb9e8' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2362bae9' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2365bce9' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2367bee9' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%236abfe9' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%236dc1e9' x='90' width='11' height='11'/%3E%3Crect fill='%2370c3e9' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2373c4e9' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2376c6ea' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2379c7ea' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%237cc9ea' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%237fcbea' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2382ccea' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2385ceeb' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2388cfeb' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%238bd1eb' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%238fd2eb' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2392d4eb' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2395d5ec' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2398d7ec' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%239bd9ec' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%239edaed' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23a1dced' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23a5dded' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23a8dfee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23abe0ee' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (min-width: 1296px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header header header header header" "footer content content content content";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 14rem 1fr;
    height: 100%;
  }

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
    height: calc(100vh - 8rem);
  }

  .footer {
    grid-area: footer;
  }

  .slide-menu {
    display: none;
    z-index: -2;
  }
}